@use "../../theme.scss" as theme;

body, html {
  &::-webkit-scrollbar {
    display: none;
  }
  
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#Landing {
  background-color: theme.$black_01;
  letter-spacing: normal;
  flex-direction: column;
  align-items: center;
  position: absolute;
  min-height: 100%;
  padding: 0px;
  display: flex;
  width: 100vw;
  top: 0;
  
  nav {
    background-color: theme.$purple_01;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 14px 18px;
    position: fixed;
    z-index: 100;
    display: flex;
    width: 100%;
    gap: 8px;
    left: 0;
    top: 0;

    #previateContainer {
      align-items: center;
      flex-direction: row;
      display: flex;
      gap: 8px;

      #previateIcon {
        background-color: theme.$black_01;
        justify-content: center;
        border-radius: 12px;
        align-items: center;
        display: flex;
        height: 64px;
        width: 64px;
      }

      h2 {
        line-height: theme.$f4 + 2px;
        font-size: theme.$f4 + 2px;
        color: theme.$black_01;
        text-align: start;
        font-weight: 900;
        margin: 0;
      }
    }

    #navButtonsContainer {
      align-items: center;
      flex-direction: row;
      display: flex;
      gap: 8px;

      #producerPanelButton {
        border: 1px solid theme.$black_01;
        background-color: transparent;
        justify-content: center;
        align-items: center;
        padding: 0 24px;
        display: flex;
        height: 64px;

        p {
          color: theme.$black_01;
          font-size: theme.$f4;
          text-align: right;
          font-weight: 900;
          margin: 0;
        }
      }

      #addEventButton {
        background-color: theme.$black_01;
        justify-content: center;
        align-items: center;
        padding: 0 32px;
        display: flex;
        height: 64px;

        p {
          color: theme.$white_01;
          font-size: theme.$f4;
          font-weight: 900;
          text-align: left;
          margin: 0;
        }
      }
    }

    #menuContainer {
      position: absolute;
      z-index: 1000;
      padding: 10px;
      right: 32px;
      top: 32px;
    }
  }

  @media (orientation: portrait) {
    nav {
      #previateContainer {
        align-items: center;
        flex-direction: row;
        display: flex;
        gap: 8px;
  
        #previateIcon {
          border-radius: 8px;
          display: flex;
          height: 48px;
          width: 48px;
        }
  
        h2 {
          line-height: theme.$f5;
          font-size: theme.$f5;
        }
      }
      #navButtonsContainer {
        display: none;
      }
    }
  }

  main {
    flex-direction: column;
    position: relative;
    padding-top: 92px;
    overflow-x: hidden;
    max-width: 2000px;
    overflow-y: auto;
    display: flex;
    width: 100%;
    margin: 0;
    flex: 1;

    #home01 {
      justify-content: space-between;
      height: calc(100vh - 92px);
      align-items: center;
      position: relative;
      overflow: hidden;
      display: flex;
      width: 100%;

      #welcomeContainer {
        flex-direction: column;
        margin-bottom: 92px;
        margin-left: 92px;
        display: flex;
        z-index: 10;

        #socialsContainer {
          margin-bottom: 12px;
          flex-direction: row;
          display: flex;
          gap: 8px;

          button {
            border: 1px solid theme.$purple_01;
            background-color: theme.$black_01;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            display: flex;
            height: 32px;
            width: 72px;

            &.active {
              background-color: theme.$green_01;
              border: none;
            }
          }
        }

        h1 {
          color: theme.$white_01;
          line-height: 92px;
          font-weight: 900;
          font-size: 92px;
          margin: 0;
        }

        h2 {
          font-size: theme.$f3;
          font-weight: 400;
          margin: 2px 0 0;
        }

        #downloadButtons {
          flex-direction: row;
          margin-top: 12px;
          display: flex;
          gap: 6px;

          button {
            background-color: theme.$black_01;
            border: 1px solid theme.$white_01;
            justify-content: center;
            padding: 0 18px 0 8px;
            align-items: center;
            border-radius: 12px;
            flex-direction: row;
            display: flex;
            height: 64px;
            gap: 6px;

            .downloadText {
              align-items: flex-start;
              flex-direction: column;
              display: flex;

              .downloadTextTitle {
                color: theme.$white_01;
                font-size: theme.$f5;
                font-weight: 400;
                margin: 0;
              }

              .downloadTextStore {
                color: theme.$white_01;
                font-size: theme.$f4;
                font-weight: 900;
                margin: 0;
              }
            }
          }
        }
      }

      #home01Image {
        justify-content: flex-end;
        align-items: flex-end;
        margin-left: -128px;
        display: flex;
        height: 100%;
        padding: 0;


        img {
          height: min(100%, 1200px);
          z-index: 5;
        }

        #previateIcon {
          background-color: theme.$black_02_50;
          border: 1px solid theme.$purple_01_25;
          transform: rotate(-20deg);
          margin-bottom: -128px;
          margin-right: -256px;
          border-radius: 48px;
          padding: 92px;
          z-index: 1;
        }
      }

      #addEventButton {
        display: none;
      }
    }


    @media (orientation: portrait) {
      #home01 {
        align-items: flex-start;
        flex-direction: column;
        padding-top: 48px;
        width: 100%;

        #welcomeContainer {
          margin-bottom: 92px;
          margin-left: 18px;
  
          #socialsContainer {
            margin-bottom: 12px;
            gap: 4px;
          }
  
          h1 {
            line-height: theme.$f0;
            font-size: theme.$f0;
          }
  
          h2 {
            display: none;
          }
  
          #downloadButtons {
            margin-top: 8px;
            gap: 4px;
  
            button {
              padding: 0 12px 0 8px;
            }
          }
        }

        #home01Image {
          justify-content: center;
          align-items: flex-end;
          position: relative;
          margin: -256px 0 0;
          display: flex;
          width: 100%;
  
          img {
            width: min(100%, 1200px);
            height: auto;
            z-index: 5;
          }
  
          #previateIcon {
            display: none;
          }
        }

        #addEventButton {
          background-color: theme.$white_01;
          padding: 4px 18px 4px 4px;
          align-items: center;
          border-radius: 24px;
          position: fixed;
          height: 48px;
          bottom: 32px;
          display: flex;
          z-index: 100;
          left: 18px;
          gap: 8px;

          #addEventButtonIcon {
            background-color: theme.$black_01;
            justify-content: center;
            align-items: center;
            border-radius: 20px;
            display: flex;
            height: 40px;
            width: 40px;
          }

          p {
            color: theme.$black_01;
            line-height: theme.$f5;
            font-size: theme.$f5;
            font-weight: 900;
            text-align: left;
            margin: 0;
          }
        }
      }
    }
  }
}