$black_01: #150A26;
$black_02: #1F1035;

$black_01_50: #150A2680;
$black_02_00: #1F103500;
$black_02_50: #1F103550;
$black_02_75: #1F1035CC;

$white_01: #EEF0FA;
$white_02: #B3B3B3;
$gray_01: #7D7D7D,;

$purple_01: #976CF6;
$purple_01_50: #976CF680;
$purple_01_25: #976CF640;

$green_01: #61B04D;

$red_01: #F54A4A;

$f0: 48px;
$f1: 32px;
$f2: 28px;
$f3: 24px;
$f4: 18px;
$f5: 14px;
$f6: 12px;
$f7: 11px;

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_24pt-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_24pt-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_24pt-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_24pt-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_24pt-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_24pt-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_24pt-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_24pt-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter_24pt-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}